.box-input {
  display: flex;
  align-items: center;
  justify-content: end;
}

.box-input input {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border: none;
  border-radius: .5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #666666;
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
  outline-color: #c92071;
}

.box-input img {
  position: absolute;
  margin-right: 1rem;
  
}

.box-input input::placeholder {
  color: #8f8f8f;
  letter-spacing: .047rem;
}